{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}


{% block content %}
    <h1>Adding a new product</h1>
    <div id="app">
        <upload></upload>
    </div>
{% endblock %}
{% block javascripts %}
{#    <script src="https://gist.githubusercontent.com/cboden/fcae978cfc016d506639c5241f94e772/raw/e974ce895df527c83b8e010124a034cfcf6c9f4b/autobahn.js"></script>#}

    {{ parent() }}
{% endblock %}
