{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">
 {% endblock %}


{% block content %}
    <h1>Adding a new product</h1>
    <div id="app">
        <upload  @upload="onUpload"></upload>
        <div>
            <micro-service-lab></micro-service-lab>
        </div>
        <div id="demo" style="clear: both;">
            <form id="search">
                <label>Search
                    <input name="query" v-model="searchQuery">
                </label>
            </form>
            <micro-service-table
                    :heroes="gridData"
                    :columns="gridColumns"
                    :filter-key="searchQuery"
                    :test-data="testData"
                    :uuid="uuid"
                    @delete-row="deleteRow"
            >
            </micro-service-table>
        </div>

        <terminal :prompt="' '" :show-initial-cd="false" :show-help-message="false" :show-header="false" :greeting="false" :log="log"></terminal>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
