{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">
 {% endblock %}


{% block content %}
    <h1>Adding a new product</h1>
    <div id="app">

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
