{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
 {% endblock %}


{% block content %}
    <h1>Adding a new product</h1>
    <div id="app">
        <upload></upload>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
