{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}

 {% endblock %}


{% block content %}
    <h1>Adding a new product</h1>
    <div id="app">
        <upload  @upload="onUpload"></upload>

        <div id="demo">
            <form id="search">
                Search <input name="query" v-model="searchQuery">
            </form>
            <grid
                    :heroes="gridData"
                    :columns="gridColumns"
                    :filter-key="searchQuery"
            >
            </grid>
        </div>

        <terminal :prompt="' '" :show-initial-cd="false" :show-help-message="false" :show-header="false" :greeting="false" :log="log"></terminal>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
