body {
    background-color: lightgray;
}

.container {
    display: flex;
}


fieldset.test {
    padding: 20px;
    flex: auto;
}

.container input {
    width: auto;
    font-size: 1.3em;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
