<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome!</title>
</head>
<!-- ... -->
{% block stylesheets %}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
<body>
<!-- ... -->
{% block content %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}


</body>
</html>
